name: Deploy .NET App 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout this repo
      uses: actions/checkout@v3

    - name: Setup SSH and known_hosts
      env:
        EC2_HOST: ${{ secrets.EC2_HOST }}
        EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
      
    - name: SSH into EC2 and deploy Dockerized app
      env:
        EC2_HOST: ${{ secrets.EC2_HOST }}
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ec2-user@$EC2_HOST << 'EOF'
          sudo yum update -y
          sudo yum install -y git docker
          sudo service docker start
          sudo usermod -aG docker ec2-user
          sudo systemctl enable docker

          if [ -d ".net_demo" ]; then
            cd .net_demo
            git pull origin main
          else
            git clone https://github.com/prem7443/.net_demo.git
            cd .net_demo
          fi

          docker stop dotnet-demo || true
          docker rm dotnet-demo || true
          docker build -t dotnet-demo .
          docker run -d --name dotnet-demo -p 80:80 dotnet-demo
        EOF
