name: Deploy to EC2 via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Debug EC2_HOST secret
      run: |
        echo "EC2_HOST is: ${{ secrets.EC2_HOST }}"

    - name: SSH into EC2 and deploy
      #uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          # Install Docker if not installed
          if ! command -v docker &> /dev/null; then
            sudo apt update
            sudo apt install -y docker.io
            sudo systemctl start docker
            sudo systemctl enable docker
            sudo usermod -aG docker $USER
          fi

          # Install Git if not installed
          if ! command -v git &> /dev/null; then
            sudo apt install -y git
          fi

          # Clone or update repo
          if [ -d ".net_demo" ]; then
            cd .net_demo
            git pull origin main
          else
            git clone https://github.com/prem7443/.net_demo.git
            cd .net_demo
          fi

          # Build and run Docker container
          docker stop sample-container || true
          docker rm sample-container || true
          docker build -t sample-app:v1 .
          docker run -d -p 5080:80 --name sample-container sample-app:v1
